*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AngryBirds', sans-serif;
}

@font-face{
    font-family: 'AngryBirds';
    src: url(../fonts/Angry_Birds_Rus.ttf) format('truetype');
}

#about, #dellivery, #reports, #statistic{
    scroll-margin-top: 100px;
}

a{
    color: #000;
}

ul{
    list-style: none;
}

button{
    transition: all 0.15s ease-in-out;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #d400ff;
}

html{
    scroll-behavior: smooth;
}

body,html{
    background-color: #FFF;
    color: black;
}
